<div class="about">

  <div class="background">
    <div class="content-2">
      <h1> Virtual Reality </h1>
      <h2> Its about transforming your environment into a whole new world. It is a new technology, and has a lot of potential</h2>
    </div>
  </div>


  <section class="about-me-container">
    <h1 class="about-me-title text-center">
      Contact me!
    </h1>
  </section>


  <section class="about-me-container">

        <%= image_tag "pine.jpg", class: "img-resize"%>

        <p class="about-me">Im a tech and gadget nerd. I love technology , which is why I create a discussion board about VR. In my free time, I love to play Dota 2.</p>

        <div class="about-me-content text-center">
          <a href="http://facebook.com"><i class="fa fa-envelope fa-4x"></i></a>            <h4>asafaasdf@facebook </h4>
        </div>
        <div class="about-me-content text-center">
          <a href="http://twitter.com"><i class="fa fa-envelope fa-4x"></i></a>
            <h4> asdsdads@twitter </h4>
        </div>
  </section>


</div>
