<div class="post">
  <h1 class="text-center"><%= @topic.title %></h>
  <h1 class="text-center">Posts</h1>

  <section>
    <div id="posts-container">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post, topic: @topic } %>
      <% end %>
    </div>
  </section>
  <div id="posts-form-container">
      <%= render partial: "form", locals: { post: @post, topic: @topic } %>
  </div>
</div>
