<div class="topic">
  <h1 class="page-title text-center"> Topics </h1>

  <section class="topics-big">


    <% @topics.each do |topic| %>
      <div class="topic-title text-center">
        <h3><%= topic.title %></h3>
        <h5><%= topic.description %></h5>
        <%= link_to topic.title, topic_path(topic) %>
      </div>
    <% end %>

  </section>

  <%= button_to "new", new_topic_path, :class => "button", :method => :get %>
</div>
