


.landing {
  @import "font-awesome";

.background {
        background-image: asset-url("macbook.jpg");
        height: calc(100vh - 52px);
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        COLOR: #f1fafa;
        align-items: center;
        justify-content: center;
      }

.background2 {
        background-image: asset-url("vr.jpg");
        height: 50vh;
        width: 100%;
        background-position: 10% 10%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        COLOR: black;
        align-items: 50% 80%;
        justify-content: center;
      }

.features-container {
  margin: 50px 0;
}

.feature-title {
  color: orange;
  font-family: 'Montserrat', sans-serif;
}

.features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
  }

.feature {
    flex: 1 0 ;
    padding: 10px;
    flex-wrap: wrap;
    h5{font-size: 150%};
    margin: 20px 10px;
    color: orange;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
}

.column-1 {
  flex-wrap: wrap;
  flex: 1 0;
  position: relative;
}

.column-1:hover .invisible-layout {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.invisible-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content-red {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(100,0,0);;
  opacity: 0.3;
}
.content-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(0,100,0);;
  opacity: 0.6;
}

h3 {
  color: white;
}
h4 {
  color: black;
}

.short-underline {
  width: 50px;
  border-bottom: 2px solid orange;
}

.contact-me {
    text-align: center;
    font-size: 200%;
    margin: 40px 100px;
}

@media all and (max-width: 1199px) {
    .features {
      max-width: 600px;
    }
  }
}
